.wishlistButton {
  max-width: 15rem;
  padding: 5px;
  margin: 5px;
}

.wishlistButton:hover {
  background: gray;
}

.selected {
  background: yellow;
}

.handlerbutton {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
}

.headingTag {
  font-size: 28px;
  color: white;
  align-self: center;
  /* margin-top: 4rem; */
}

.newscard {
  /* background-color: white; */
  padding: 2rem;
}

.newscard div {
  background-color: white;
  padding: 2rem 8rem;
  border-radius: 8px;
}

.slick-dots li button:before {
  font-size: 22px !important;
  color: white !important;
}

.crbackground {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.carousalContainer div button{
  display: none !important;
}

.crbackground {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.containerParent {
  background-image: url('../images/newsBg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  padding: 4rem 8rem;
  /* justify-content: center;
  align-items: center;
  /* padding-top: 2rem; */
  /* padding: 20px; */
}

.carousalDetails {
  position: relative;
  bottom: 20rem;
  left: 10rem;
}
.carousalDetails a{
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  font-size: 12px;
  font-weight: 700;
  color: black;
  cursor: pointer;
}
.carousalDetails h3{
  color: white;
  font-size: 28px;
}

.carousalDetails p{
  color: white;
  font-size: 12px;
  width: 29rem;
  line-height: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.carousalContainer{
  height: 35rem;
}

.bundleSelectButton{
  padding: 12px 48px;
  margin-top: 10px;
  background-color: black;
  color: #fff;
  text-align: center;
}

.bundleSelectButtonSelected{
  padding: 12px 48px;
  margin-top: 10px;
  background-color: #ff4859;
  color: #fff;
}

.bundleSelectButton:hover{
  background-color: #ff4859;
}

.summeryParent{
  display: flex;
  justify-content: space-between;
}

.summeryTotalParent{
  background-color: #dedede;
  width:28%;
  margin-top: 1.7rem;
  padding: 1rem;
  color: black;
  max-height: 8rem;
}

.headerDummyTags{
  font-size: 12px;
  font-weight: 500;
  padding: 8px;
  margin: 0rem 0rem;
}

.searchParent ::-webkit-scrollbar {
  /* display: none; */
  width: 1em;
}

.searchParent::-webkit-scrollbar {
  width: 3px;
}

 
.searchParent::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/* for loader */
.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: black;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}